body{
    margin: 0;
    padding: 0;
    background: #262626;
    font-family: Arial, Helvetica, sans-serif;
}

.loader{
    position: absolute;
    margin: 13em;
    margin-top: 20em;
    /*transform: translate(-50%,-50%);*/
}
.loader h1{
    margin: 0;
    padding: 0;
     text-transform: uppercase;
     font-size: 4em;
     color: rgba(255, 255, 255, 0.1);
     background-image: url(../assets/png-running-water-flow-water-flow-effects-water-running-water-png-image-and-clipart-650.jpg);
     background-size: 50%;
     background-repeat: repeat-x;
     -webkit-background-clip: text;
     animation: animate 15s linear infinite;
}
@keyframes animate{
    0%{
        background-position: left 0px top 80px;
    }
    40%{
        background-position: left 800px top -50px;
    }
    80%{
        background-position: left 1800px top -50px;
    }
    100%{
        background-position: left 2400px top 80px;
    }
}